extends ../layout

block content
  
  form(id="form", name="form", method="post")
   h1(class="list-group-item list-group-item-info") Ask a question
   br
   div.input
    input(type="text", placeholder="Username", class="username form-control", name="username")
    br
   div.input
    textarea(name="question", placeholder="Question", class="question form-control",cols="40", rows="5")
    br
   div.actions
    button(class="btn btn-primary") Ask
  h2 Questions:
  ul(id="asks")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/asks.js")