body
{
	font-family: roboto;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-top: 0;
	background-color: #E9E9E9;
}
h2
{
	padding: 20px 0;
	color: white;
	background-color: #3C5997;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}
textarea
{
	border-radius: 5px;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}
header
{
	width: 100%;
	height: 40px;
	background-color: #3C5997;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
	margin-bottom: 20px;
}
#add
{
	cursor: pointer;
	margin-top: -65px;
	z-index: 500;
	margin-left: -35px;
	position: absolute;
	border-radius: 50%;
	padding: 25px 30px;
	font-weight: bold;
	font-size: 20px;
	color: white;
	background-color: #3C5997;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}
#add:hover
{
	background-color: #4A6BA5;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
}
#title
{
	width: 507px;
	height: 25px;
	border-radius: 5px;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}
.content
{
	padding: 20px 20px;
	color: #283545;
	background-color: white;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border-radius: 5px;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}
#register
{
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	text-align: left;
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}
#register label
{
	text-align: left;
	margin-left: 0px;
}
#register input
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 30px;
	border-radius: 5px;
}
#mid
{
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}
a:link,
a:visited,
a:hover,
a:active
{
	text-decoration: none;
	border-radius: 5px;
	color: white;
	padding: 2px 5px;
	display: inline-block;
	background-color: #3C5997;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}
a:hover
{
	background-color: #4A6BA5;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
}