body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
form
{
	width: 400px;
}
h1
{
	background-color: red;
	color: white;
	padding-top: 10px;
	padding-left: 5px;
}
input
{
	width: 300px;
}