div
	{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		position: absolute;
		transition: transform 0.4s;
	}
	#shape1
	{
		background-color: #DB5846;
	}
	#shape2
	{
		background-color: #50CE7E;
	}
	#shape3
	{
		background-color: #F6C523;
	}
	.shape1ani
	{
		transform: translateX(100px);
	}
	.shape2ani
	{
		transform: translateX(100px) translateY(100px);
	}
	.shape3ani
	{
		transform: translateY(100px);
	}