body
{
	text-align: center;
	background-color: #283B4E;
	font-family: Arial, sans-serif;
}
#welcome
{
	width: 400px;
	background-color: white;
	border-radius: 15px;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px; 
	margin-bottom: 50px;
	-webkit-animation: flipUp 1s;
	transform-origin: middle;
}
h1
{
	font-size: 18px;
	padding-bottom: 0;
	margin: 0;
}
p
{
	padding: 0;
	margin: 0;
}
img
{
	border-radius: 10px;
	margin: 5px;
	transition: transform 0.5s;
	transform: scale(1);
}
#users
{
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	-webkit-animation: flyIn 1s;
	transform-origin: left;
}
@-webkit-keyframes flyIn
	{
		0%
		{
			transform: perspective(300px) rotateY(90deg);
		}
		60%
		{
			transform: perspective(300px) rotateY(-10deg);
		}
		90%
		{
			transform: perspective(300px) rotateY(5deg);
		}
		100%
		{
			transform: perspective(300px) rotateY(0deg);
		}
	}
@-webkit-keyframes flipUp
	{
		0%
		{
			transform: perspective(300px) rotateX(90deg);
		}
		60%
		{
			transform: perspective(300px) rotateX(-10deg);
		}
		90%
		{
			transform: perspective(300px) rotateX(5deg);
		}
		100%
		{
			transform: perspective(300px) rotateX(0deg);
		}
	}
.text
{
	-webkit-animation: slideIn 1s;
}
@-webkit-keyframes slideIn
	{
		0%
		{
			transform: translateX(-90px);
		}
		100%
		{
			transform: translateX(0px);
		}
	}
img:hover
{
	transition: transform 0.5s;
	transform: scale(1.1);
}