<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Digital Bar</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Load theme styles -->
        <link rel="stylesheet" href="assets/bower_components/fontawesome/css/font-awesome.css" />
        <link rel="stylesheet" href="assets/bower_components/normalize.css/normalize.css" />

        <link rel="stylesheet" href="assets/css/styles.css" />
    </head>

    <body>
        <div class="container">
            <div ng-app="imdApp" ng-controller="myController">
            <h1>Digital Bar</h1>

            <div class="center">
                <label for="name">Tell me, what is your name?</label>
                <input type="text" name="name" ng-model="myName"/>
                <p ng-if="myName"> Hello {{myName}}, order some drinks!</p>
            </div>

            <div ng-if="myName" class="productsContainer">





                <div class="orderAdd">
                    <input type="text" ng-model="searchQuery" placeholder="Zoek een product"/>

                    <ul class="productList" >
                        <li ng-repeat="drink in drinks|filter:searchQuery">

                            <span class="name">{{drink.name}}</span>
                            <small class="quantity"> {{drink.__v}}</small>
                            <amount-control amount="drink.__v"></amount-control>
                        </li>
                    </ul>
                    <button class="action">Send your order</button>
                    <p ng-if="status.orderSent">Your order has been added!</p>
                </div>


                <div class="addProduct">
                    <label>Nieuw Product</label>
                    <div class="input-wrapper">
                        <input type="text" placeholder="Productnaam" ng-model="product.name"/>
                    </div>
                    <button class="action" ng-click="submitProducts()">Add product</button>
                </div>
            </div>
        </div>
        </div>
        <!-- SCRIPTS ///////////////////////////////////////////////////// -->

        <!-- ANGULAR -->
        <script src="assets/bower_components/jquery/dist/jquery.js"></script>
        <script src="assets/bower_components/lodash/lodash.js"></script>
        <script src="assets/bower_components/angular/angular.js"></script>

        <!-- LOCAL SCRIPT-->
        <script>

            // Insert Angular magic here
            var app = angular.module('imdApp', []);

            app.controller('myController', function($scope,$http){

                $scope.product={name:""};

// Simple GET request example :

              var getAllProducts = function getAllProducts(){
                  $http.get('http://imd.district01.be/product').
                        success(function(data, status, headers, config) {
                            $scope.drinks = data;
                        }).
                        error(function(data, status, headers, config) {
                        });
            };


            $scope.submitProducts=function submitProducts(){
                $http.post('http://imd.district01.be/product',$scope.product).
                        success(function(data, status, headers, config) {
                            getAllProducts();
                        }).
                        error(function(data, status, headers, config) {

                        });

            };
            getAllProducts();
            });





            app.directive('amountControl', function(){
                return {
                    restrict: 'EAC',
                    template:'<button ng-click="qty = qty +1">+</button><button ng-click="qty = qty -1">-</button>',
                    scope: {
                        qty: '=amount'
                    }
                };
            })




            // API URL: 'http://imd.district01.be'
            // PRODUCTS: 'http://imd.district01.be/product' (PUT - GET)
            // ORDER: 'http://imd.district01.be/order' (POST)
        </script>

    </body>

</html>
