body
{
	background-color: #61CDCD;
}
#content 
{
	width: 506px;
	background-color: #EEF8FA;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
}
#container
{
	border-style: ;
	border-width: 0px;
	width: 506px;
	margin-top: 30px;
	margin-bottom: 30px;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.3);
}
#centered
{
	margin-left: auto;
	margin-right: auto;
	width: 1092px;
}
.box
{
	padding: 30px;
	margin-bottom: 0;
	margin-top: 0;
	width: 506px;
	background-color: #E4EEEF;
}
form
{
	padding-top: 30px;
	padding-bottom: 30px;
}
label
{
	margin-bottom: 20px;
}
input
{
	float: right;
	width: 250px;
	height: 30px;
}
button
{
	clear: both;
	margin-bottom: 20px;
	width: 120px;
	height: 50px;
	color: white;
	border: none;
	background-color: #54B5E0;
}
.error
{
	width: 350px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	background-color: #F26963;
	text-align: center;
	color: white;
	padding-top: 15px;
	vertical-align: middle;
}
.succes
{
	width: 350px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	background-color: #4E94EA;
	text-align: center;
	color: white;
	padding-top: 15px;
	vertical-align: middle;

}
#reservation
{
	clear: both;
	width: 500px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: #4E94EA;
	text-align: center;
	color: white;
	vertical-align: middle;
}
h3
{
	padding-top: 25px;
}