body
{
	text-align: center;
	font-family: Roboto;
	background-color: #E9E9E9;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px; 
	margin-bottom: 0;
}
img
{
	width: 200px;
}
.content
{
	width: 27%;
	margin-left:3%; 
	margin-right:3%;
	float: left;
	min-height: 380px;
	margin-bottom: 20px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
}
h2
{
	padding: 0;
	margin: 0;
}
p
{
	margin: 0;
	padding: 0;
}
li
{
	list-style: none;
}
a:link,
a:visited,
a:hover,
a:active
{
	text-decoration: none;
	background-color: #3C5997;
	color: white;
	padding: 2px;
	border-radius: 4px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}
a:hover
{
	background-color: #3D84DC;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}
#welcome
{
	background-color: #3C5997;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 95%;
	color: white;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}
#cart
{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}
footer
{
	clear: both;
	text-align: left;
	width: 100%-40px;
	background-color: #3C5997;
	margin: 0;
	padding: 20px;
	border-radius: 5px 5px 0 0;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}
footer ul li 
{
	width: 40%;
	background-color: none;
	list-style-type: disc;
	margin-bottom: 10px;
}
#vinyl
{
	padding: 10px 0 20px 0;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}