body
{
	background-color: #005AC8;
	text-align: center;
	-webkit-animation: colourChange 7s infinite;
	transform-origin: top;
}
img
{
	width: 80px;
}
#opening
{
	-webkit-animation: flyUp 7s infinite;
	transform-origin: top;
}
@-webkit-keyframes flyUp
	{
		0%
		{
			transform: translateY(900px);
		}
		15%
		{
			transform: translateY(60px);
		}
		25%
		{
			transform: translateY(100px);
		}
		35%
		{
			transform: translateY(100px);
		}
		50%
		{
			transform: translateY(-100px);
			top: -100px;
		}
		100%
		{
			transform: translateY(-100px);
			top: -100px;
		}
	}
.ending
{
	-webkit-animation: flyIn 7s infinite;
	transform-origin: top;
}
.endingMid
{
	-webkit-animation: flyInMid 7s infinite;
	transform-origin: top;
}
@-webkit-keyframes flyIn
	{
		0%
		{
			transform: translateY(900px);
		}
		40%
		{
			transform: translateY(900px);
		}
		60%
		{
			transform: translateY(60px);
		}
		75%
		{
			transform: translateY(100px);
		}
		85%
		{
			transform: translateY(100px);
		}
		100%
		{
			transform: translateY(-200px);
		}
	}
@-webkit-keyframes flyInMid
	{
		0%
		{
			transform: translateY(900px);
		}
		40%
		{
			transform: translateY(900px);
		}
		65%
		{
			transform: translateY(60px);
		}
		80%
		{
			transform: translateY(100px);
		}
		87%
		{
			transform: translateY(100px);
		}
		100%
		{
			transform: translateY(-200px);
		}
	}
@-webkit-keyframes colourChange
	{
		0%
		{
			background-color: #005AC8;
		}
		30%
		{
			background-color: #005AC8;
		}
		50%
		{
			background-color: #FFA600;
		}
		80%
		{
			background-color: #FFA600;
		}
		100%
		{
			background-color: #005AC8;
		}
	}